/* APP */
/* STYLE CSS */
/*  */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Literata&family=Pacifico&family=Roboto&display=swap");

/* root................................................. */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--explorer-red) var(--explorer-white);
}

:root {
  --explorer-red: #d62b2b;
  --explorer-white: #ebebeb;
  --explorer-dark: #0c0c0c;
  --explorer-pacifico: "Pacifico", cursive;
  --explorer-caveat: "Capriola", sans-serif;
  --craft-font3: "Literata", serif;
  --roboto: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--explorer-white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--explorer-red);
}
