/* APP */
/* ENTER CSS */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Literata&family=Pacifico&family=Roboto&display=swap");

/* root................................................. */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--explorer-red) var(--explorer-white);
}

:root {
  --explorer-red: #d62b2b;
  --explorer-white: #ebebeb;
  --explorer-dark: #0c0c0c;
  --explorer-pacifico: "Pacifico", cursive;
  --explorer-caveat: "Capriola", sans-serif;
  --craft-font3: "Literata", serif;
  --roboto: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--explorer-white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--explorer-red);
}

/* elements................................................. */
.video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.enter-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.enter-logo {
  margin-top: 10rem;
  font-family: var(--craft-font);
  color: var(--explorer-red);
  font-size: 5.5rem;
  text-shadow: 3px 3px 0 var(--explorer-dark);
}

.enter-body {
  padding: 2rem !important;
  background-color: #464646f5 !important;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556) !important;
}

body > .grid {
  height: 100%;
}

.image {
  margin-top: 7px;
}

.column {
  width: 100%;
  min-width: 27vw;
  margin: 8rem 0;
  background-color: #4f4f4ff5 !important;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.255);
}

.enter-body .title-header {
  display: block !important;
  float: left;
}

.content h3 {
  font-size: 2rem !important;
}
 .luggage-button{
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* .travel-button{
  margin: 0;
  position: absolute;
  top: 75%;
  right: 26%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}   */


.enter-profile{
  margin: 0;
  position: absolute;
  left: 30%;
  

} 