/* ENTER PAGE */
/* STYLE CSS */

/* root................................................. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* elements................................................. */
.video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
