/* HOME */
/* STYLE CSS */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Pacifico&display=swap");
/* root................................................. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --explorer-red: #d62b2b;
  --explorer-white: #ebebeb;
  --explorer-dark: #0c0c0c;
  --explorer-pacifico: "Pacifico", cursive;
  --explorer-caveat: "Capriola", sans-serif;
  --craft-font3: "Literata", serif;
  --roboto: "Roboto", sans-serif;
}

/* Home............................................. */

body {
  background-image: url(../../assets/misc/foggy_birds.png);
  line-height: 100% !important;
}

.home-container {
  min-height: 70vh;
}

.jumbo {
  display: flex;
  height: 30vh;
  width: 100vw;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.9rem;
}

.jumbo h1 {
  z-index: 2;
  position: absolute;
  text-align: center;
  font-size: 7rem;
  color: var(--explorer-red);
  font-family: var(--explorer-pacifico);
  animation: colorChange 4s infinite;
}

.video2-bg {
  z-index: -1;
  filter: brightness(140%);
  height: 50vh;
  object-fit: cover;
  width: 100vw !important;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.home-header h1 {
  font-family: var(--explorer-caveat);
  font-size: 3rem;
  color: var(--explorer-dark);
}

.home-header-body {
  padding: 0 2rem 2rem 2rem;
}

.logo-name {
  font-family: var(--explorer-pacifico);
  font-size: 5rem;
  color: var(--explorer-red);
  text-shadow: 2px 2px 0 #fac564, 4px 4px 0 var(--explorer-dark);
  animation: colorChange 3s infinite;
}

.home-user-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.home-user-header span {
  font-weight: bold;
  color: var(--explorer-red);
}

.home-container * .column {
  background-image: url(../../assets/misc/foggy_birds.png) !important;
  box-shadow: none !important;
}

.home-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.home-img-row {
  padding-top: 5rem !important;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.info-explorer {
  margin-top: 5rem !important;
}

.home-header-info {
  padding-bottom: 3rem;
}

.home-header-info-subtitle {
  text-decoration: underline;
  font-size: 1.5rem !important;
}

.home-header-info-p {
  font-size: 110%;
  font-weight: bold;
}

.home-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/misc/food.png);
}
.home-search-container h2 {
  font-size: 3rem;
  font-family: var(--explorer-caveat);
  margin-top: 3rem;
}
.home-search-container h3 {
  font-size: 2rem;
  font-family: var(--explorer-caveat);
}
.home-search {
  background-image: url(../../assets/misc/food.png);
  border-top: 3px solid black;
}

.home-search-container * span {
  font-family: var(--explorer-caveat);
}

.home-search-container * label {
  font-size: 1.5rem !important;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem 0;
}

.searched-cities {
  margin-top: 10rem;
}

.caret-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caret {
  animation: bounce 2s infinite;
}

/*  */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes colorChange {
  0% {
    color: var(--explorer-red);
    text-shadow: 4px 4px 0 var(--explorer-dark), 6px 6px 0px #fac564,
      9px 9px 0px #11441d;
  }
  50% {
    color: #fac564;
    text-shadow: 4px 4px 0 var(--explorer-dark), 6px 6px 0px var(--explorer-red),
      9px 9px 0px #145e26;
  }
  100% {
    color: var(--explorer-red);
    text-shadow: 4px 4px 0 var(--explorer-dark), 6px 6px 0px #fac564,
      9px 9px 0px #11441d;
  }
}

@media (max-width: 475px) {
  .home-header h1 {
    font-size: 3rem;
  }
  .jumbo h1 {
    font-size: 4rem;
  }
}
