/* PROFILE */
/* STYLE CSS */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Literata&family=Pacifico&family=Roboto&display=swap");

/* root................................................. */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --explorer-red: #d62b2b;
  --explorer-white: #ebebeb;
  --explorer-dark: #0c0c0c;
  --craft-font: "Pacifico", cursive;
  --craft-font2: "Fredericka the Great", cursive;
  --craft-font3: "Literata", serif;
  --roboto: "Roboto", sans-serif;
}

/* Profile............................................. */
