/* CITY */
/* STYLE CSS */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Pacifico&display=swap");
/* root................................................. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--explorer-red) var(--explorer-white);
}

:root {
  --explorer-red: #d62b2b;
  --explorer-white: #ebebeb;
  --explorer-dark: #0c0c0c;
  --explorer-pacifico: "Pacifico", cursive;
  --explorer-caveat: "Capriola", sans-serif;
  --craft-font3: "Literata", serif;
  --roboto: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--explorer-white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--explorer-red);
}

/* Cities........................................................ */

.citypage {
  background: rgb(250, 250, 250) !important;
  background: linear-gradient(
    129deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(208, 238, 255, 1) 100%
  ) !important;
}

.citypage-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.citypage-cityimage {
  height: 400px;
  width: 550px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(84, 84, 84);
}

.citypage-intro {
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.citypage-intro h1 {
  font-size: 5.5rem;
  color: var(--explorer-red);
  font-family: var(--explorer-pacifico);
  text-shadow: 3px 3px 0 var(--explorer-dark);
}

.citypage-intro h3 {
  font-size: 3rem;
  color: var(--explorer-dark);
  font-family: var(--explorer-pacifico);
}

.citypage-intro * .column {
  background-color: #f1f7fb !important;
  /* background-image: url(../../assets/misc/foggy_birds.png) !important; */
  box-shadow: none !important;
}

.city-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: var(--explorer-caveat);
}

.city-weather p {
  padding: 10px 0;
}

.weather-title {
  font-size: 1.7rem !important;
}

.city-hotel-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  background: rgb(250, 250, 250) !important;
  background: linear-gradient(
    129deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(208, 238, 255, 1) 100%
  ) !important;
}

.title-hotel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(250, 250, 250) !important;
  background: linear-gradient(
    129deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(208, 238, 255, 1) 100%
  ) !important;
  margin-top: 5rem;
}

.title-hotel h1 {
  font-size: 3rem;
  color: var(--explorer-dark);
  font-family: var(--explorer-pacifico);
}

.hotel-img {
  height: 150px !important;
  width: 100% !important;
  margin-top: 0 !important;
}

.video-responsive iframe {
  width: 100%;
}
/* 
.video-responsive {
  margin: 5rem 0;
} */

.city-video-container .column {
  background-color: #f1f7fb !important;
  /* background-image: url(../../assets/misc/foggy_birds.png) !important; */
  box-shadow: none !important;
}
