/* NAVBAR */
/* STYLE CSS */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Literata&family=Pacifico&family=Roboto&display=swap");

/* root................................................. */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--explorer-red) var(--explorer-white);
}

:root {
  --explorer-red: #d62b2b;
  --explorer-white: #ebebeb;
  --explorer-dark: #0c0c0c;
  --explorer-pacifico: "Pacifico", cursive;
  --explorer-caveat: "Capriola", sans-serif;
  --craft-font3: "Literata", serif;
  --roboto: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--explorer-white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--explorer-red);
}
/* Navbar............................................. */

.nav {
  height: 55px;
  width: 100%;
  background-color: var(--explorer-red);
  position: relative;
  padding-right: 1rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.309);
}
.nav * {
  transition: 0.2s ease-in-out !important;
}
.nav a {
  color: var(--explorer-white);
  font-family: var(--craft-font);
  font-weight: bold;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: var(--explorer-white);
  padding: 10px 10px 10px 10px;
}

.nav-title {
  margin-top: 5px;
}

.nav-title a {
  font-size: 28px;
}

.nav-title a:hover {
  color: #070707;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  margin: 17.5px 10px;
  text-decoration: none;
  color: var(--explorer-white);
  font-family: var(--roboto) !important;
  font-size: 22px;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.nav > .nav-links > a:hover {
  color: black;
  border-bottom: 4px solid black;
}

.nav-links .nav-logout {
  background-color: var(--explorer-white) !important;
  color: #070707 !important;
  padding: 9px !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.309);
  border-radius: 2px;
}

.nav-links .nav-logout:hover {
  background-color: #070707 !important;
  color: var(--explorer-white) !important;
  border: none !important;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 55px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #180606d4;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow: hidden;
    top: 55px;
    left: 0px;
    z-index: 10;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav-links a {
    padding-left: 5px;
  }

  .nav-links .nav-logout {
    margin-left: 15px !important;
    width: 96% !important;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .nav > .nav-links > a:hover {
    color: var(--explorer-white);
    border-bottom: 4px solid var(--explorer-white);
  }
}
